* {
    margin: 0;
}
header {
    background: white;
}
body {
    background: #bcbcbc;
}
p {
    padding-left: 1%;
}
h1 {
    padding-left: 40%;
}
h3 {
    padding-left: 1%;
}
.titlePhoto {
    width: 50%;
    margin-left: 25%;
}
.photo-1{
    float: right;
    height: 70vh;
    padding-left: 1%;
}
.photo-2 {
    float: left;
    width: 22%;
    height: 65vh;
    margin-right:1%;
    margin-top:1%;
}